*.tfstate
*.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
terraform.lock.hcl
crash.log
.terraform/
# Archivos generados por Infracost
infracost-report.json
infracost-report.html
infracost.log